/* font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive; */

*{
    box-sizing: border-box;
}

body{
    background-color: #6d7e92;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 3px; /*pour espacer un peu les lettres*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden; /*si quelque chose dépasse, il sera caché*/
}

h1{
    margin: 20px 0 0;
    font-size: 50px;
    font-family: 'Shadow Into Light', 'cursive';
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px #354961;
}

.jeu-contenant{
    padding: 20px 30px;
    margin: auto;
    height: 350px;
    width: 450px;
    position: relative;
}

.figure-contenant{
    stroke: #fff; /*stroke = trait en anglais : c'est pour dessiner le trait (sera ici appliqué à l'ensemble de la rubrique svg : donc à l'ensemble du pendu)*/
    stroke-width: 4px; /*épaissir le trait*/
    stroke-linecap: round; /*arrondir les coins*/
    fill: transparent;
    /*fill (le remplissage) transparent évitera que la tête (qui sera ronde) soit remplies.*/
}

.figure-partie{ 
    display: none;/*efface le bonhomme*/
}

.mauvaises-lettres-contenant{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right; /*pour aligner les lettres vers la droite*/
}

.mauvaises-lettres-contenant p{
    margin: 0 0 5px;
}

/*GROSSIR LES MAUVAISES LETTRES*/
.mauvaises-lettres-contenant span{
    font-size: 24px;
    font-family: 'Shadows Into Light', 'cursive';
}

.mot{
    display: flex;
    position: absolute;
    bottom: 10;
    left: 50%;
    transform: translateX(-50%);
}

.lettre{
    border-bottom: 3px solid #354961;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
    font-family: 'Shadows Into Light', 'cursive';
}

/*LE MESSAGE FINAL*/

.popup-contenant{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup{
    background-color: #21364e;
    border-radius: 5px;
    box-shadow: 0 10px 10px 5px rgba(0,0,0,0.5);
    padding: 20px;
    text-align: center;
}

.popup button{
    cursor: pointer;
    background-color: #fff;
    column-rule: #354961;
    border: 0;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.popup button:active{
    transform: scale(0.98); /*rapetisser le bouton*/
} /*:active permet de cibler un élément lorsque celui-ci est activé par l'utilisateur. Elle permet de fournir un feedback indiquant que l'activation a bien été détectée par le navigateur. Lorsqu'on a une interaction avec un pointeur, il s'agit généralement du moment entre l'appui sur le pointeur et le relâchement de celui-ci.*/

.popup button:focus{
    outline: 0;
} /* :focus permet de cibler un élément lorsque celui-ci reçoit le focus (soit il est sélectionné à l'aide du clavier, soit il est activé avec la souris)*/


/*NOTIFICATION*/

.notification-contenant{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 2px;
    position: absolute; /*pour le laisser en bas de l'écran*/
    bottom: -80px;
    transition: transform 0.3 ease-in-out; /* ease-in-out veut dire que ça va aller plus lentement au début qu'à la fin du mouvement*/
}

.notification-contenant.afficher{ /*On rajoutera la classe "afficher" avec le Javascript*/
    transform: translateY(-80px);
}
