/* font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive; */

*{
    box-sizing: border-box;
}

body{
    background-color: #6d7e92;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 3px; /*pour espacer un peu les lettres*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden; /*si quelque chose dépasse, il sera caché*/
}

h1{
    margin: 20px 0 0;
    font-size: 50px;
    font-family: 'Shadow Into Light', 'cursive';
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px #354961;
}

.jeu-contenant{
    padding: 20px 30px;
    margin: auto;
    height: 350px;
    width: 450px;
    position: relative;
}

.figure-contenant{
    stroke: #fff; /*stroke = trait en anglais : c'est pour dessiner le trait (sera ici appliqué à l'ensemble de la rubrique svg : donc à l'ensemble du pendu)*/
    stroke-width: 4px; /*épaissir le trait*/
    stroke-linecap: round; /*arrondir les coins*/
    fill: transparent;
    /*fill (le remplissage) transparent évitera que la tête (qui sera ronde) soit remplies.*/
}